/* button */
.my_button {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 50px;
}

.btn_big {
  width: 120px;
  padding: 10px 20px;
  font-size: 1.5rem;
}

.btn_middle {
  width: 80px;
  padding: 5px 10px;
  font-size: 1rem;
}

.btn_small {
  width: 60px;
  padding: 3px 5px;
  font-size: 0.8rem;
}

.btn_yellow {
  color: var(--emart_yellow);
  border-color: var(--emart_yellow);
}

.btn_red {
  color: var(--emart_red);
  border-color: var(--emart_red);
}

#quick_menu {
  position: fixed;
  bottom: 200px;
  right: 100px;
  width: 150px;
  height: 150px;
  background-color: var(--emart_yellow);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}