body {
  margin: 0px;
  padding: 0px;
}

body p::selection {
  background-color: var(--emart_black);
  color: var(--emart_yellow);
}

body a {
  text-decoration: none;
}

body ul {
  margin: 0px;
  padding: 0px;
}

section{
  width: 1500px;
  margin: 0 auto;
}
